<div class="container">
  <ul class="list-inline">
    <li>
      <h1><%= @article.title %></h1>
    </li>
    <li>
      <%= link_to edit_article_path(@article.id) do %>
        <i class="far fa-edit"></i>
      <% end %>
    </li>
    <li>
      <%= link_to article_path(@article.id), method: :delete do %>
        <i class="far fa-trash-alt"></i>
      <% end %>
    </li>
  </ul>
  <p><%= @article.content %></p>
</div>
